/* 
 * Waybar styles
 *
 * Uses Catppuccin Macchiato color scheme.
 *
 * https://github.com/catppuccin/catppuccin
 */

* {
    border: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
    color: rgba(202, 211, 245, 1);                                   /* Text */
}

window#waybar {
    background: rgba(0, 0, 0, 0);                           /* No background */
    color: white;
}

tooltip {
    background: rgba(54, 58, 79, 1);                             /* Surface0 */
    border: 1px solid rgba(183, 189, 248, 1);                    /* Lavender */
}

#workspaces button {
    margin: 6px 3px 6px 3px;
    padding: 0 5px;
    border-radius: 4px;
    background: rgba(54, 58, 79, 1);                             /* Surface0 */
}

#workspaces button.focused {
    background: rgba(128, 135, 162, 1);                          /* Overlay1 */
}

#mode, #battery, #clock, #backlight, #pulseaudio, #network, #keyboard-state, #custom-power {
    padding: 0px 12px;
    background: rgba(54, 58, 79, 1);                             /* Surface0 */
    border-radius: 4px;
    margin: 8px 3px 0px 3px;                                     /* top margin value (8px) should match inner gaps value in sway config */
}

#mode {
    background: rgba(54, 58, 79, 1);                            /* Surface 0 */
}
